test-output\
*.html

*.xml



maven/test-output/junitreports/TEST-maven.CalculatorAppTest.xml

maven/test-output/testng-results.xml

maven/test-output/old/Default suite/methods.html

maven/test-output/old/Default suite/classes.html

maven/test-output/junitreports/TEST-maven.CalculatorAppTest.xml

maven/test-output/index.html

maven/test-output/emailable-report.html

maven/test-output/Default suite/Default test.xml

maven/test-output/Default suite/Default test.html
