# Object file
test-output/
*.o
*.html
*.xml

# Ada Library Information
*.ali
*.html
testNG/test-output/testng-results.xml


*.class
target/
classes/
test-output/

*.html
testNG/test-output/old/Default suite/groups.html
