<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test verbose="10" thread-count="2" name="Test" parallel="true">
    <classes>
      <class name="test_dependency.Negative"/>
      <class name="test_dependency.Positive"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
